body {
  margin: 0;
  padding: 20px;
  min-height: 100vh;
  box-sizing: border-box;
  background-color: #fcfafa;
  display: flex;
  justify-content: center;
  align-items: center;
}

.volta{
    border-color: #e74c3c;
    border-radius: 20px;
    background-color: #fff ;
    
}

.volta-butao{
    text-decoration: none;
    color: #e74c3c;
    gap: 15px;
}

.pizza-card { 
  background: #fff; 
  width: 100%; 
  max-width: 1200px;
  border-radius: 19px; 
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1); 
  padding: 40px; 
  font-family: 'Poppins', sans-serif; 
  display: flex; 
  flex-direction: column; 
  gap: 25px; 
  border: 2.0px solid #f0f0f0; 
  box-sizing: border-box;
} 

.pizza-titulo { 
   
  font-size: 2rem; 
  color: #222; 
  font-weight: 600; 
  margin: 0; 
} 

.pizza-body { 
  display: flex; 
  gap: 30px; 
  align-items: center; 
} 

.pizza-imagem { 
  flex: 1; 
  min-height: 250px; 
  max-width: 400px; 
  height: 250px; 
  border-radius: 12px; 
  overflow: hidden; 
} 

.pizza-img { 
  width: 100%; 
  height: 100%; 
  object-fit: cover; 
} 

.info-pizza { 
  flex: 1.5; 
  display: flex; 
  flex-direction: column; 
  gap: 15px;
} 

.descricao-pizza { 
  font-size: 1.2rem; 
  color: #665; 
  line-height: 1.5; 
  margin: 0; 
} 

.pizza-preco { 
  font-size: 1.8rem; 
  font-weight: 700; 
  color: #e74c3c; 
} 

.botao-pedido { 
  background-color: #e74c3c; 
  color: white; 
  border: none; 
  padding: 12px 40px; 
  font-size: 1rem; 
  font-weight: 600; 
  border-radius: 6px; 
  cursor: pointer; 
  transition: background 0.2s; 
  width: fit-content; 
} 

.botao-pedido:hover { 
  background-color: #c0392c; 
} 

.compra-conteiner{
    display:flex;
    text-align: center;
    gap: 20px;
}

.pizza-footer { 
  border-top: 1px dashed #cfc4c4; 
  padding-top: 20px; 
} 

.pizza-footer h3 { 
  color: #333; 
  margin-bottom: 10px; 
  font-weight: 600; 
} 

.centralizar{
    align-items: center;
}

.titulo-ingrediente{
    text-align: center;
}

.pizza-ingrediente { 
  font-size: 1rem; 
  color: #777; 
  line-height: 1.6; 
  margin: 0; 
  padding-left: 20px;
}

.pizza-footer { 
  border-top: 5px dashed #cfc4c4; 
  padding-top: 20px; 
} 

.botoes-container {
    display: flex;
  flex-direction: row;
  gap: 15px;
  align-items: center;
  width: 100%;
}

.botao-opcao { 
  background-color: #e74c3c; 
  color: white; 
  border: none; 
  padding: 12px 24px; 
  font-size: 1rem; 
  font-weight: 600; 
  border-radius: 6px; 
  cursor: pointer; 
  transition: background 0.2s; 
  flex: 1;
  max-width: 200px;
  text-align: center;
} 

.botao-opcao:hover { 
  background-color: #c0392c; 
}
